<!-- wp:template-part {"slug":"header","theme":"irenilson-barbosa"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"irenilson-barbosa/hero"} /-->
	<!-- wp:separator {"backgroundColor":"bege-300"} -->
	<hr class="wp-block-separator has-text-color has-bege-300-color has-alpha-channel-opacity has-bege-300-background-color has-background"/>
	<!-- /wp:separator -->
	<!-- wp:pattern {"slug":"irenilson-barbosa/card-grid-posts"} /-->
	<!-- wp:separator {"backgroundColor":"bege-300"} -->
	<hr class="wp-block-separator has-text-color has-bege-300-color has-alpha-channel-opacity has-bege-300-background-color has-background"/>
	<!-- /wp:separator -->
	<!-- wp:pattern {"slug":"irenilson-barbosa/card-grid-publicacoes"} /-->
	<!-- wp:separator {"backgroundColor":"bege-300"} -->
	<hr class="wp-block-separator has-text-color has-bege-300-color has-alpha-channel-opacity has-bege-300-background-color has-background"/>
	<!-- /wp:separator -->
	<!-- wp:pattern {"slug":"irenilson-barbosa/card-grid-livros"} /-->
	<!-- wp:separator {"backgroundColor":"bege-300"} -->
	<hr class="wp-block-separator has-text-color has-bege-300-color has-alpha-channel-opacity has-bege-300-background-color has-background"/>
	<!-- /wp:separator -->
	<!-- wp:pattern {"slug":"irenilson-barbosa/card-grid-materiais"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"irenilson-barbosa"} /-->
