<!-- wp:template-part {"slug":"header","theme":"irenilson-barbosa"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained","contentSize":"700px"}} -->
	<div class="wp-block-group">
		<!-- wp:post-terms {"term":"category","separator":"  /  "} /-->

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"metadata":{"name":"Post Meta"}} -->
		<div class="wp-block-group">
			<!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
			<!-- wp:post-date {"format":"j F Y"} /-->
			<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: "} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-featured-image /-->

		<!-- wp:post-content /-->

		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
			<!-- wp:post-terms {"term":"category"} /-->
			<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: "} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"irenilson-barbosa"} /-->
